.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Wrapper {
  text-align: left;
  width: 100%;
}

.Wrapper * {
  margin: 0;
}

.Counter {
  border: 1px solid steelblue;
  display: inline-block;
  width: 25vmin;
  height: 7vmin;
  position: relative;
  vertical-align: top;
  margin: 5vmin 3vmin;
}

.Counter button {
  background-color: steelblue;
  border: 0;
  height: 100%;
  width: 30%;
  position: absolute;
}

.Counter button:first-of-type {
  left: 0;
}

.Counter button:last-of-type {
  right: 0;
}

.Counter p {
  line-height: 7vmin;
  text-align: center;
  width: 100%;
}

.Counter * {
  display: inline-block;
}

.People {
  display: inline-block;
  width: 50vmin;
}

.Person {
  height: 5vmin;
}